{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centre d'aide</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <header>
        <div class="navbar">
            <nav class="navigation hide" id="navigation">
                <ul class="nav-list">
                    <span class="close-icon" onclick="showIconBar()"><i class="fa-solid fa-rectangle-xmark"></i></span>
                    <li class="nav-item"><a href="accueilForum.html">Home</a></li>
                    <li class="nav-item"><a href="postsForum.html">Forum</a></li>
                    <li class="nav-item"><a href="detailsForum.html">Detail</a></li>
                </ul>
            </nav>
            <a href="#" class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa-solid fa-bars"></i></a>
            <div class="brand">My Forum</div>
        </div>
        <!--Search Box-->
        <div class="search-box">
            <div>
                <select name="" id="">
                    <option value="Everything">Everything</option>
                    <option value="titles">Titles</option>
                    <option value="descriptions">Descriptions</option>
                </select>
                <input type="text" name="q" id="" placeholder="search...">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
    </header>

    {% block content %}

    {% endblock %}


    <footer>
        <span>&copy; &nbsp; BdeBCentreAide | All rights Reserved.</span>
    </footer>

    <script src="{% static 'main.js' %}"></script>
</body>
</html>
