{% extends 'base.html' %}
{% block content %}
    <div class="container">

        <!--Navigation-->
        <div class="navigate">
            <span><a href="#">My Forum - Forum</a> <i class="fa-solid fa-arrow-right"></i> <a href="#">Random Topic</a> <i class="fa-solid fa-arrow-right"></i> <a href="#">Post</a></span>
        </div>

        <div class="topic-container">
            <div class="head">
                <div class="authors">Author</div>
                <div class="content">Topic: Post's title (Read 1258 times)</div>

            </div>

            <div class="body">
                <div class="authors">
                    <div class="username"><a href="#">Username</a></div>
                    <div>Role</div>
                    <i class="fa-solid fa-user-tie"></i>
                    <div>Posts: <u>45</u></div>
                    <div>Points: <u>1298</u></div>
                </div>
                <div class="content">
                    Just ajnwnfkjw wlknejkfw wnjfjwnfj
                    <br> To see howit looks like
                    <br><br>
                    Nothing else...
                    <br><br>
                    <hr>
                    Regards Username
                    <div class="comment">
                        <button onclick="showComment()">Comment</button>
                    </div>
                </div>

            </div>
        </div>

        <!--Comment input-->
        <div class="comment-area hide" id="comment-area">
            <textarea name="comment" id="" placeholder="comment here..."></textarea>
            <input type="submit" name="" id="" value="submit">
        </div>
        
        <!--Show comments-->
        <div class="comments-container">
            <div class="head">
                <div class="authors">Author</div>
                <div class="content">Comments</div>

            </div>

            <div class="body">
                <div class="authors">
                    <div class="AnotherUser"><a href="#">Username</a></div>
                    <div>Role</div>
                    <i class="fa-solid fa-user-tie"></i>
                    <div>Posts: <u>45</u></div>
                    <div>Points: <u>1298</u></div>
                </div>
                <div class="content">
                    Just a random comment wlknejkfw wnjfjwnfj
                    <br> To see howit looks like
                    <br><br>
                    Nothing else...
                    <br><br>
                    <div class="comment">
                        <button onclick="showReply()">Reply</button>
                    </div>
                </div>

            </div>
        </div>

        <!--Reply input-->
        <div class="comment-area hide" id="reply-area">
            <textarea name="comment" id="" placeholder="reply here..."></textarea>
            <input type="submit" name="" id="" value="submit">
        </div>

    </div>
{% endblock %}
