@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');

body{

    margins: 0;
    padding: 0;
    font-family: 'Josefin';
}
nav{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
border-bottom: 5px solid #6f6f6f;


}

nav h1 {

    color: #717171 ;
    font-size: 30px; 
}

nav.onglets a {
text-decoration: none;
color: #000;
margin-right: 10px;
border-Bottom:1px solid #000;
padding-bottom: 5px;
}