{% extends 'base.html' %}
{% block content %}

    <div class="container">

        <!--Navigation-->
        <div class="navigate">
            <span><a href="#">My Forum - Forum</a> <i class="fa-solid fa-arrow-right"></i> <a href="#">Random Topic</a></span>
        </div>
        <div class="table-head">
            <div class="status"></div>
            <div class="subjects">Sujets</div>
            <div class="replies">Réponses / Consultations</div>
            <div class="last-reply">Dernière Réponse</div>
        </div>
        <div class="table-row">
            <div class="status"><i class="fa-solid fa-flask"></i></div>
            <div class="subjects"><a href="#">Chimie Générale</a>
                <br><span>Tout se qui se rapporte à la chimie générale</span>
            </div>
            <div class="replies">
                2 réponses <br> 125 consultations
            </div>
            <div class="last-reply">
                13 Mars 2023
                <br>
                Par <b><a href="#"></a>User</b>
            </div>
        </div>
        <div class="table-row">
            <div class="status"><i class="fa-solid fa-atom"></i></div>
            <div class="subjects"><a href="#">Physique Générale</a>
                <br><span>Tout se qui se rapporte à la physique générale</span>
            </div>
            <div class="replies">
                2 réponses <br> 125 consultations
            </div>
            <div class="last-reply">
                13 Mars 2023
                <br>
                Par <b><a href="#"></a>User</b>
            </div>
        </div>
        <div class="table-row">
            <div class="status"><i class="fa-solid fa-book"></i></div>
            <div class="subjects"><a href="#">Français</a>
                <br><span>Tout se qui se rapporte au français</span>
            </div>
            <div class="replies">
                2 réponses <br> 125 consultations
            </div>
            <div class="last-reply">
                13 Mars 2023
                <br>
                Par <b><a href="#"></a>User</b>
            </div>
        </div>
        <div class="table-row">
            <div class="status"><i class="fa-solid fa-calculator"></i></div>
            <div class="subjects"><a href="#">Mathémaique</a>
                <br><span>Tout se qui se rapporte au mathématique</span>
            </div>
            <div class="replies">
                2 réponses <br> 125 consultations
            </div>
            <div class="last-reply">
                13 Mars 2023
                <br>
                Par <b><a href="#"></a>User</b>
            </div>
        </div>
        
        
        <!--Pagination-->
        <div class="pagination">
            pages : <a href="#">1</a><a href="#">2</a><a href="#">3</a>

        </div>
    </div>
{% endblock %}
